body {
	font-family: "Roboto";
	font-weight: normal;
  	margin: 0;
}
header{
	background-image: url("../SVG/back.svg");
	background-repeat: no-repeat;
	background-position: right top;	
}
h1{
	font-size: 50px;
	font-family: "Roboto Condensed";
}
h2{
	font-size: 30px;
}
th{
	text-align: center;
}
a{
	text-decoration: none;
}
.container {
  	width: 100%;
  	max-width: 1184px;
  	padding: 0 auto;
  	margin: 0 auto;
}
footer{
	margin-top: 437.77px;
	margin-bottom: 138px;
}
.up_button{
	position: fixed;
	right: 0;
  	bottom: 0;
  	background-color: #5EA8E8;
  	border-radius: 30px;
  	padding: 10px 18px 0 19px;
  	margin: 0 15px 10px 0; 
}
.up_button:hover{
	box-shadow: 0 4px 10px 0 rgba(94, 168, 232, 0.42);
}
/*Navbar======================================================================================================================================================*/
.nav {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	width: 100%;
}
.nav li{
	float: left;
}
.nav .aa{
	display: block;
  	color: #262525;
  	text-align: center;
  	text-decoration: none;
  	padding: 50px 60px 0 0;
}
.nav a {
  	display: block;
  	color: #262525;
  	text-align: center;
  	text-decoration: none;
  	padding: 50px 50px 0 0;
}
.nav a:hover{
	color:#5EA8E8;
}
.nav_right{
	float: right;
}
.nav .registration{
	border-radius: 5px;
	border: 2px solid #5EA8E8;
	padding: 10.5px 33.65px 10.5px 33.65px;
	margin-top: 38.5px; 
}
.nav .nav_font{
	color: #5EA8E8;
	font-weight: bold;
	font-family: "Arial", Helvetica, sans-serif;
}
.nav .registration:hover{
	border-radius: 5px;
	padding: 10.5px 33.65px 10.5px 33.65px;
	color: #FFFFFF;
	background-color: #5EA8E8; 
  	text-decoration: none;
	font-weight: bold;
	font-family: "Arial", Helvetica, sans-serif;
}
/*End Navbar======================================================================================================================================================*/

/* Header information=============================================================================================================================================*/
.container .header_text{
	max-width: 640px;
	margin-top: 174px; 
}
.registration1{
	border-radius: 5px;
	padding: 14px 51px;
	color: #FFFFFF;
	background-color: #5EA8E8; 
  	text-decoration: none;
	font-weight: bold;
	font-family: "Arial", Helvetica, sans-serif;
}
.registration1:hover{
	box-shadow: 0 4px 10px 0 rgba(94, 168, 232, 0.42);
}
.when{
	margin-top: 150px; 
}
.when1{
	max-width: 109px;
}
.when2{
	max-width: 322px;
	float: right;
	margin-top: -16px; 
}
.grey{
	color: #AFAFAF;
}
.yy{
	max-width: 226px;
	padding-right: 80px; 
}
/* End Header information===========================================================================================================================================*/

/* Main Sections====================================================================================================================================================*/
.sections{
	margin-top: 196px;
}
.section_header{
	max-width: 750px;
	text-align: center;
}
.sections .sec{
	width: 96%;
}

/* End Main Sections====================================================================================================================================================*/

/* Main Rules====================================================================================================================================================*/
.section_header1{
	margin-top: 224px;
}
.rules{
	background-image: url("../SVG/back2.svg");
	background-repeat: no-repeat;
	background-position: left top;
}
.rule_image{
	float: right;
	margin-top: -30px;
}
.r{
	margin-bottom: 60px;
}
.rules_info{
	margin-top: 102px;
	padding: 0 113.4px 0 129px;
	margin-bottom: 277.2px;
}

.FIO{
	max-width: 239px;
}

.rr{
	margin-bottom: 73px;
}
.rules_info2{
	margin-left: 699px;
}
.registration2{
	border-radius: 5px;
	border: 2px solid #5EA8E8;
	padding:  12.5px 143px;
	color: #5EA8E8;
	font-weight: bold;
	 
}
.registration2:hover{
	border-radius: 5px;
	padding: 12.5px 143px;
	color: #FFFFFF;
	background-color: #5EA8E8; 
  	text-decoration: none;
	font-weight: bold;
	font-family: "Arial", Helvetica, sans-serif;
}
/* Main Rules End====================================================================================================================================================*/

/* Main Reginstration From====================================================================================================================================================*/
.reg_form{
	margin-top:279px;
}
.reg_form h2{
	font-family: "Roboto Condensed";
	font-size: 34px;
}
.reg_input{
	border: 2px solid #D9D9D9;
	border-radius: 5px;
	width: 216px;
	height: 50px;
	font-size: 16px;
	padding-left: 25px;
}
.reg_text{
	border: 2px solid #D9D9D9;
	border-radius: 5px;
	width: 465.5px;
	height: 157px;
	font-size: 16px;
	padding-top: 16px; 
	padding-left: 25px;
	resize: none;
}
.reg_but{
	border: 1px solid #5EA8E8;
	border-radius: 5px;
	background-color: #5EA8E8;
	color: #FFFFFF;
	width: 495px;
	height: 45px;
	font-size: 16px;
	font-weight: bold;
}

.reg_but:hover{
	box-shadow: 0 4px 10px 0 rgba(94, 168, 232, 0.42);
}
.m{
	max-width: 450px;
}
.n{
	float: right;
}
/* End Main Reginstration From====================================================================================================================================================*/

/* Footer ====================================================================================================================================================*/
.attention{
	max-width: 496px;
}
.contact{
	margin-top: -29px;
	float: right;
}
.contact h4{
	text-align: right;
	font-size: 20px;
	font-family: "Roboto Condensed";
}
.contact p{
	text-align: right;
	max-width: 219px;
}
.contact img{
	float: right;
	margin-top: 41px;
}
/* End Footer====================================================================================================================================================*/





